    @font-face {
    font-family: "Montserrat-Bold"; 
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.otf"); 
    src: url("../fonts/Montserrat-Bold/Montserrat-Bold.otf?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    }
    @font-face {
    font-family: "Montserrat-Light"; 
    src: url("../fonts/Montserrat-Light/Montserrat-Light.otf"); 
    src: url("../fonts/Montserrat-Light/Montserrat-Light.otf?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: lighter; 
    }
    @font-face {
    font-family: "Montserrat-Regular"; 
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.otf"); 
    src: url("../fonts/Montserrat-Regular/Montserrat-Regular.otf?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }
    @font-face {
    font-family: "Proxima-Nova-Bold"; 
    src: url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.otf"); 
    src: url("../fonts/Proxima-Nova-Bold/Proxima-Nova-Bold.otf?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular/Montserrat-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    }
    @font-face {
    font-family: "Proxima-Nova-Light"; 
    src: url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.ttf"); 
    src: url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.ttf?#iefix") format("embedded-opentype"),
    url("../fonts/Proxima-Nova-Light/Proxima-Nova-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: lighter; 
    } 
    @font-face {
    font-family: "Roboto-Regular"; 
    src: url("../fonts/Roboto-Regular/Roboto-Regular.ttf"); 
    src: url("../fonts/Roboto-Regular/Roboto-Regular.ttf?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 