.catalog{
  overflow: hidden;
  margin-top: 37px;
  padding-bottom: 125px;
}

      /* БАННЕР  */

.catalog .catalog_top_logo{
  position: relative;
}
.catalog .catalog_top_logo p{
  position: absolute;
  font-family: Montserrat-Bold;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  top: 50%;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  
}
.catalog .catalog_top_logo p span{
  font-family: Montserrat-Light;
  font-weight: lighter;
}

.catalog .catalog_sidebar{
  display: flex;
  margin-top: 50px;
}
.catalog .left_sidebar{
  width: 20%;
  margin-right: 30px;
}
.catalog .right_sidebar{
  width: 80%;
}

/*  Аккордеон */

.accordeon {
  width: 100%;
  border-bottom: 1px solid #575153;
  border-top: 1px solid #575153;
  padding: 20px 0 30px 0;
}
 
.accordeon .acc-head {
	padding: 10px;
  border-bottom: 1px solid #c0c0c0;
  cursor: pointer;
  display: flex;
}

.accordeon .acc-head{
  padding-left: 10%;
}

.accordeon .acc-head p{
  font-family: Montserrat-Regular;
  color: #575153;

}
.accordeon .acc-head p i{
 margin-left: 10px;
 font-size: 18px;
}
 
.accordeon .ac-body {
	padding-top: 5px;
  display: none;
  
}
.accordeon ul li{
  margin: 5px 0 0 20%;
}
.accordeon ul li a{
  font-family: Montserrat-Regular;
  color: #575153;
  font-size: 14px;
}
.accordeon ul li a:hover{
  color: #00c8c8;
  transition: 0.3s;
  
}

/*  Бренд  */


.brand{
  border-bottom: 1px solid #575153;
  padding: 20px 0 20px 10%;
  display: flex;
  align-items: center;
}
.brand p{
  font-family: Montserrat-Regular;
  color: #575153;
  margin-right: 10px;
  font-size: 15px;
}
.brand select{
  padding: 6px 10px;
  font-family: Montserrat-Regular;
  outline: none;
  cursor: pointer;
  position: relative;
  justify-content: center;
  font-size: 14px;
  
}

.brand select option{
  height: 50px;
  font-size: 14px;
  color: red;
  font-family: Montserrat-Regular;
  color: #575153;
  padding: 15px;
  outline: none;
}

/*  Цена  */


.left_sidebar_price{
  padding: 10px 0 20px 10%;
  border-bottom: 1px solid #575153;
}
.left_sidebar_price p{
  font-family: Montserrat-Regular;
  color: #575153;
  margin: 20px 0;
  font-size: 15px;
}
.left_sidebar_price p{
  margin: 15px 0;
  font-size: 14px;
  font-family: Montserrat-Regular;
}
.left_sidebar_price p input{
  margin-right: 10px;
  vertical-align: middle; 
  padding: 5p;
  cursor: pointer;
}

/*  Размер  */

.left_sidebar_size{
  padding: 10px 0 0 10%;
  border-bottom: 1px solid #575153;
  
}
.left_sidebar_size p{
  font-family: Montserrat-Regular;
  color: #575153;
  margin: 20px 0;
  font-size: 15px;
}

.left_sidebar_size ol {
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  padding-left: 15px;
  width: 150px
}

.left_sidebar_size ol p {
  margin: 15px 0;
  font-family: Montserrat-Regular;
  text-transform: uppercase;
  font-size: 12px;
}
.left_sidebar_size ol p input{
  vertical-align: middle;
  margin-right: 7px;
  cursor: pointer;
}

.left_sidebar_size ol p:first-child{
  margin: 0;
}

/*  Цвет  */
.left_sidebar_color{
border-bottom: 1px solid #575153;
}
.left_sidebar_color p{
  font-family: Montserrat-Regular;
  margin: 20px 0 20px 10%;
  color: #575153;
}
.left_sidebar_color .color_check{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  padding-bottom: 30px;
}
.left_sidebar_color .checkbox-transform{
  margin: 0 5px;
}



/*  Красный цвет */
.checkbox__label:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: #FF0000;
}
.checkbox__label:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0px;
  left:0px;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label:after{
  border-color:#050505;
}
.checkbox__label:after:hover,.checkbox__label:after:active{
  border-color:green;
}
.checkbox__label{
  margin-left:15px;
}


/*  Зеленый цвет */
.checkbox__label_green:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: green;
}
.checkbox__label_green:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0px;
  left:0px;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label_green:after{
  border-color:#050505;
}
.checkbox__label_green:after:hover,.checkbox__label_green:after:active{
  border-color:green;
}
.checkbox__label_green{
  margin-left:15px;
}

/*  Желтый цвет */

.checkbox__label_yellow:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: yellow;
}
.checkbox__label_yellow:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0px;
  left:0px;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label_yellow:after{
  border-color:#050505;
}
.checkbox__label_yellow:after:hover,.checkbox__label_yellow:after:active{
  border-color:green;
}
.checkbox__label_yellow{
  margin-left:15px;
}

/*  Синий цвет */

.checkbox__label_blue:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: blue;
}
.checkbox__label_blue:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0px;
  left:0px;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label_blue:after{
  border-color:#050505;
}
.checkbox__label_blue:after:hover,.checkbox__label_blue:after:active{
  border-color:green;
}
.checkbox__label_blue{
  margin-left:15px;
}

/*  Коричневый цвет */

.checkbox__label_brown:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: brown;
}
.checkbox__label_brown:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0px;
  left:0px;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label_brown:after{
  border-color:#050505;
}
.checkbox__label_brown:after:hover,.checkbox__label_brown:after:active{
  border-color:green;
}
.checkbox__label_brown{
  margin-left:15px;
}

/*  Фиолетовый цвет */

.checkbox__label_violet:before{
  content:'';
  display:block;
  height:25px;
  width:25px;
  position:absolute;
  top:2px;
  left:2px;
  background: violet;
}
.checkbox__label_violet:after{
  content:' ';
  display:block;
  height:25px;
  width:25px;
  border: 2px solid #fff ;
  transition:200ms;
  position:absolute;
  top:0;
  left:0;
  /* background: #fff200; */
  transition:100ms ease-in-out;
}
.checkbox__input:checked ~ .checkbox__label_violet:after{
  border-color:#050505;
}
.checkbox-transform{
  position:relative;
  font-size: 10px;
  color: #666;
  cursor:pointer;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.checkbox__label_violet:after:hover,.checkbox__label_violet:after:active{
  border-color:green;
}
.checkbox__label_violet{
  margin-left:2rem;
  line-height:.5;
}

/* ПРАВЫЙ САЙДБАР КАТАЛОГ*/

.catalog_products .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog_products .row .item {
  cursor: pointer;
  margin: 13.7px;
  width: calc(100% / 12 * 3 - 30px);
  background-color: #fff;
  position: relative;
  max-height: 290px;
  border: 1px solid black;
}

.catalog_products .row .item img{
  width: 100%;
  height: 100%;
}
.catalog_products .row .item:hover {
  -webkit-box-shadow: 5px 19px 19px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 19px 19px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog_products .row .item:hover .view {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog_products .row .item:hover .description {
  display: block;
  -webkit-box-shadow: 5px 19px 19px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 19px 19px rgba(0, 0, 0, 0.2);
}

.catalog_products .row .item .price {
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: Montserrat-Regular;
  color: black;
  font-size: 21px;
}

.catalog_products .row .item .view {
  position: absolute;
  color: red;
  width: 100%;
  text-align: center;
  top: 50%;
  font-size: 48px;
  opacity: 0;
}

.catalog_products .row .item .view i {
  border: 1px solid red;
  padding: 8px 23px;
  border-radius: 50px;
  background-color: #fff;
}

.catalog_products .row .item .view i:hover {
  background-color: red;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog_products .row .item .description {
  text-align: center;
  width: 100%;
  position: absolute;
  padding: 25px 0;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  display: none;
  cursor: default;
}

.catalog_products .row .item .description .name {
  font-size: 13px;
  text-transform: uppercase;
  font-family: Montserrat-Regular;
  color: #727272;
  font-weight: bold;
}

.catalog_products .row .item .description .desc {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #8e8c8c;
  margin-top: 20px;
}

.catalog_products .row .item .description .comp {
  font-family: Roboto-Regular;
  font-size: 15px;
  color: #8e8c8c;
  margin-top: 10px;
}

.catalog_products .row .item .description .icon {
  margin-top: 18px;
}

.catalog_products .row .item .description .icon form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.catalog_products .row .item .description .icon form button i {
  padding: 8px;
  border: 1px solid #727272;
  border-radius: 50px;
  cursor: pointer;
  background-color: #727272;
  color: #fff;
  font-size: 17px;
}

.catalog_products .row .item .description .icon form button i:hover {
  border: 1px solid #00c8c8;
  background-color: #00c8c8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

      /*  ПАГИНАЦИЯ */

.right_sidebar .pagination{
  margin-top: 50px;
}
.right_sidebar .pagination ul{
  display: flex;
  justify-content: center;
}
.right_sidebar .pagination ul li{
  margin: 0 10px;
}
.right_sidebar .pagination ul li a{
  font-family: Montserrat-Regular;
  color: #727272;
  font-weight: bold;
  font-size: 14px;
}

.right_sidebar .pagination ul li a:hover{
  color: #00c8c8;
  font-size: 16px;
  transition: 0.2s;
}
.right_sidebar .pagination ul li .fa{
  font-size: 18px;
}