.main
    max-width: 1770px
    margin: 0 auto
    &_top
        margin-top: 40px
        position: relative
        & a 
            position: absolute
            bottom: 120px
            right: 322px
            border: 2px solid #737373
            padding: 21px 31px
            text-transform: uppercase
            font-family: Montserrat-Regular
            font-size: 16px
            color: #454647
            font-weight: bold
            &:hover
                box-shadow: 0 0 15px rgba(0,0,0,0.5)
            &:active
                box-shadow: 0 0 15px rgba(0,0,0,0.3)


        & img
            max-width: 1770px
            margin: 0 auto

        
    

            