
/*  Поля добавлений товаров  */


.admin .main_admin .right_admin .table_input h3{
  margin: 0;
  text-align: center;
  margin-top: 10px;
}
.admin .main_admin .right_admin .table_input form{
  text-align: center;
  padding: 20px;
}
.admin .main_admin .right_admin .table_input form p{
  margin: 10px 0;
}

.admin .main_admin .right_admin .table_input{
  border-right: 1px solid black;
  width: 40%
}

.admin .main_admin .right_admin .table_input form input[type="text"]{
  width: 240px;
  height: 25px;
  padding-left: 5px;
}
.admin .main_admin .right_admin .table_input form input[type="submit"]{
  padding: 10px 50px;
  margin-top: 30px;

}

/*   Поиск   */
.admin .main_admin .right_admin .table_brand{
  text-align: -webkit-center;
  width: 60%;
  padding-bottom: 20px;
}
.admin .main_admin .right_admin .table_brand h3{
  margin: 0;
  text-align: center;
  margin-top: 10px;
}
.admin .main_admin .right_admin .table_brand .search{
  
  margin: 20px 0;
}
.admin .main_admin .right_admin .table_brand .search input[type="text"]{
  width: 200px;
  height: 25px;
}
.admin .main_admin .right_admin .table_brand .search input[type="submit"]{
  padding: 6px 14px;
}

/*   Таблица   */

table {
border-spacing: 0 1px;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
}
th {
background: #56433D;
color: #F9C941;
border-right: 1px solid; 
font-size: 13px;
padding: 5px;  
}
td {
vertical-align: middle;
font-size: 13px;
text-align: center;
border-top: 1px solid #56433D;
border-bottom: 1px solid #56433D;
border-right: 1px solid #56433D;
padding: 0 15px;
}
td:first-child {
border-left: 1px solid #56433D;
width: 100px;
height: 120px;  
}
