.admin{
    max-width: 1300px;
    margin: 0 auto;
  }
  .admin .top_admin{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 15px 0;
  }
  .admin .top_admin .logo p{
    margin: 0 50px;
  }
  .admin .top_admin .logout{
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  .admin .top_admin .logout a{
    margin: 0 5px;
  }
  .admin .top_admin .logout p{
    margin: 0 30px;
  }
  .admin .admin_nav_menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .admin .admin_nav_menu ul a{
    display: block;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    font-family: Montserrat-Regular;
    color: #575153;
    font-size: 15px;
    text-decoration: none;
    width: 100%;
  }
  .admin .admin_nav_menu ul a:hover{
    background-color: #8ef9f9;
  }

  .active{
    background-color: #8ef9f9;
    font-weight: bold;
  }

  .admin .main_admin{
    border: 1px solid black;
    display: flex;
  }