RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l


RewriteRule ^([-/_a-zA-Z0-9\s]*)$ index.php?page=$1 [QSA,L]

RewriteRule ^admin-panel/ admin-panel/admin.php [QSA,L]
RewriteRule ^admin-panel/$ admin-panel/admin.php?get=$1 [QSA,L]








